<template id="productTemplate">
    <div class="col-12 mx-auto">
        <article class="p-2">
            <header>
                <h2 id="productTitle" class=""></h2>
            </header>
            <a href="#" id="productCategory"></a>
            <p class="overflow-y" id="productDescription">
            </p>
            <figure class="text-center">
                <img class="img-fluid" data-type="images" src="" style="max-width:50%;" id="productThumbnail">
            </figure>
            <footer>
                <a class="productLink text-center d-block" href="#" data-idproduct="" id="productPrice">
                </a>
            </footer>
        </article>
    </div>
</template>