<template id="miniProductTemplate">
    <div class="col-12 col-lg-4 col-md-3 mb-2">
        <article class="card p-2">
            <header>
                <h2 id="productTitle" class="text-truncate"></h2>
            </header>
            <a href="#" id="productCategory"></a>
            <p class="overflow-y" style="height:200px" id="productDescription">
            </p>
            <img class="img-fluid img-thumbnail" src=""
                style="max-height: 200px; width:auto;margin-left:auto;margin-right:auto;" id="productThumbnail">
            <footer>
                <a class="productLink text-center d-block" href="#" data-idproduct="" id="productPrice">

                </a>
            </footer>
        </article>
    </div>
</template>